In [1]:
import pandas as pd
import cx_Oracle
import numpy as np

In [2]:
#  def getData(user, password, database, targetTable, commandText):
#         connection = cx_Oracle.connect(user, password, database)
#         cursor = connection.cursor()
#         cursor.execute(commandText.format(targetTable))
#         x = cursor.description
#         columns = [y[0] for y in x]
#         cursor01 = cursor.fetchall()
#         cursor.close()
#         data = pd.DataFrame(cursor01, columns=columns)
#         return data

In [3]:
# user = 'VDATA'
# password = 'xdf123'
# database = 'LBORA170'
# targetTable = 'soure_01'
# # commandText = '''select t.STD_MODEL_INFO,t.GGID,t.CHINESE_CS from CS_JY_2 t'''
# commandText1 = '''select * from  a_model t'''
# commandText2 = '''select * from  a_model_loss t'''
# commandText3 = '''select * from  a_model_loss_refer t'''
# commandText4 = '''select * from  cs_cb t'''
# commandText5 = '''select * from  cs_jy t'''
# commandText6 = '''select * from  cs_xs t'''
# commandText7 = '''select * from  cs_zs t'''
# a_model=getData(user, password, database, targetTable, commandText1)
# a_model_loss =getData(user, password, database, targetTable, commandText2 )
# a_model_loss_refer =getData(user, password, database, targetTable, commandText3)
# cs_cb =getData(user, password, database, targetTable, commandText4)
# cs_jy =getData(user, password, database, targetTable, commandText5)
# cs_xs =getData(user, password, database, targetTable, commandText6)
# cs_zs =getData(user, password, database, targetTable, commandText7)

In [4]:
# a_model.to_csv('data/a_model.csv',encoding='utf-8',index=False)
# a_model_loss.to_csv('data/a_model_loss.csv',encoding='utf-8',index=False)
# a_model_loss_refer.to_csv('data/a_model_loss_refer.csv',encoding='utf-8',index=False)
# cs_cb.to_csv('data/cs_cb.csv',encoding='utf-8',index=False)
# cs_jy.to_csv('data/cs_jy.csv',encoding='utf-8',index=False)
# cs_xs.to_csv('data/cs_xs.csv',encoding='utf-8',index=False)
# cs_zs.to_csv('data/cs_zs.csv',encoding='utf-8',index=False)

In [2]:
cols=[]

In [3]:
path1='data/a_model.csv'
path2='data/a_model_loss.csv'
path3='data/a_model_loss_refer.csv'
path4='data/cs_cb.csv'
path5='data/cs_jy.csv'
path6='data/cs_xs.csv'
path7='data/cs_zs.csv'

In [4]:
a_model=pd.read_csv(path1)

D:\Program\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
a_model.dropna(how='all',axis=1,inplace=True)

In [6]:
a_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214587 entries, 0 to 214586
Data columns (total 34 columns):
MODEL_ID                  214587 non-null int64
MODEL_CATE_ID             64007 non-null float64
MODEL_STANDARD_NAME       214587 non-null object
MODEL_TRIVIAL_NAME        46663 non-null object
MODEL_CLASS               214501 non-null float64
MODEL_SUB_CLASS           214501 non-null float64
MODEL_TYPE                213904 non-null float64
MODEL_COUNTRY             213904 non-null float64
MODEL_BRAND               214587 non-null object
MODEL_CATE_NAME           213903 non-null object
MODEL_FACTORY             214586 non-null object
MODEL_YEAR                44788 non-null float64
MODEL_VOUCH_SEAT          214313 non-null float64
MODEL_VOUCH_TONNAGE       185750 non-null float64
MODEL_VOLUME              117999 non-null float64
MODEL_PRICE               213904 non-null float64
MODEL_PRICE_TXA           213879 non-null float64
MODEL_PRICE_ANA           61693 non-null float64
MODEL_REMARK              150485 non-null object
MODEL_IS_LOSS             64007 non-null float64
MODEL_IS_PIC              64007 non-null float64
MODEL_PART_COUNT          64007 non-null float64
MODEL_IS_ENABLE           64007 non-null float64
MODEL_IS_DELETE           64007 non-null float64
MODEL_CREATE_DATE         214587 non-null object
MODEL_UPDATE_DATE         142821 non-null object
VERSION                   214587 non-null int64
MODEL_SPECIAL_TYPE        131370 non-null float64
MODEL_SUB_SPECIAL_TYPE    131370 non-null float64
MODEL_VALUATION_TYPE      207090 non-null object
GUID                      204623 non-null object
MODEL_TOTAL_TONNAGE       37528 non-null float64
MODEL_CURB_TONNAGE        141936 non-null float64
STD_MODEL_INFO            214587 non-null object
dtypes: float64(21), int64(2), object(11)
memory usage: 55.7+ MB

In [7]:
col1=a_model.columns
cols.extend(col1)
cols

['MODEL_ID',
 'MODEL_CATE_ID',
 'MODEL_STANDARD_NAME',
 'MODEL_TRIVIAL_NAME',
 'MODEL_CLASS',
 'MODEL_SUB_CLASS',
 'MODEL_TYPE',
 'MODEL_COUNTRY',
 'MODEL_BRAND',
 'MODEL_CATE_NAME',
 'MODEL_FACTORY',
 'MODEL_YEAR',
 'MODEL_VOUCH_SEAT',
 'MODEL_VOUCH_TONNAGE',
 'MODEL_VOLUME',
 'MODEL_PRICE',
 'MODEL_PRICE_TXA',
 'MODEL_PRICE_ANA',
 'MODEL_REMARK',
 'MODEL_IS_LOSS',
 'MODEL_IS_PIC',
 'MODEL_PART_COUNT',
 'MODEL_IS_ENABLE',
 'MODEL_IS_DELETE',
 'MODEL_CREATE_DATE',
 'MODEL_UPDATE_DATE',
 'VERSION',
 'MODEL_SPECIAL_TYPE',
 'MODEL_SUB_SPECIAL_TYPE',
 'MODEL_VALUATION_TYPE',
 'GUID',
 'MODEL_TOTAL_TONNAGE',
 'MODEL_CURB_TONNAGE',
 'STD_MODEL_INFO']

In [8]:
a_model_loss=pd.read_csv(path2)

In [9]:
a_model_loss.dropna(how='all',axis=1,inplace=True)

In [10]:
a_model_loss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47572 entries, 0 to 47571
Data columns (total 23 columns):
MODEL_ID               47572 non-null int64
MODEL_CATE_ID          47572 non-null int64
MODEL_STANDARD_NAME    47572 non-null object
MODEL_TRIVIAL_NAME     32203 non-null object
MODEL_PINYIN_CODE      47572 non-null object
MODEL_TYPE             47572 non-null int64
MODEL_CLASS            47572 non-null int64
MODEL_COUNTRY          47572 non-null int64
MODEL_IS_INSURER       47572 non-null int64
MODEL_IS_LOSS          47572 non-null int64
MODEL_IS_PIC           47572 non-null int64
MODEL_REMARK           43511 non-null object
MODEL_PART_COUNT       47572 non-null int64
MODEL_STRUCT_TYPE      26173 non-null float64
MODEL_IS_ENABLE        47572 non-null int64
MODEL_IS_DELETE        47572 non-null int64
MODEL_CREATE_DATE      47572 non-null object
MODEL_UPDATE_DATE      47572 non-null object
VERSION                47572 non-null int64
MODEL_FACTORY          47560 non-null object
TRAN_EDITION           1 non-null float64
PART_UPDATE_TIME       43444 non-null object
STD_MODEL_INFO         47572 non-null object
dtypes: float64(2), int64(12), object(9)
memory usage: 8.3+ MB

In [12]:
col2=a_model_loss.columns
cols.extend(col2)
cols=list(set(cols))
print(len(cols))
cols

39

['MODEL_UPDATE_DATE',
 'MODEL_TYPE',
 'MODEL_PINYIN_CODE',
 'VERSION',
 'PART_UPDATE_TIME',
 'MODEL_STANDARD_NAME',
 'MODEL_CATE_ID',
 'MODEL_VOUCH_TONNAGE',
 'MODEL_IS_PIC',
 'MODEL_BRAND',
 'MODEL_IS_LOSS',
 'MODEL_VOUCH_SEAT',
 'MODEL_REMARK',
 'MODEL_IS_DELETE',
 'MODEL_YEAR',
 'MODEL_CATE_NAME',
 'TRAN_EDITION',
 'MODEL_SUB_CLASS',
 'MODEL_PRICE',
 'MODEL_IS_ENABLE',
 'MODEL_VALUATION_TYPE',
 'MODEL_CREATE_DATE',
 'MODEL_ID',
 'MODEL_VOLUME',
 'MODEL_CURB_TONNAGE',
 'MODEL_SPECIAL_TYPE',
 'MODEL_IS_INSURER',
 'MODEL_SUB_SPECIAL_TYPE',
 'STD_MODEL_INFO',
 'MODEL_TOTAL_TONNAGE',
 'MODEL_PRICE_ANA',
 'MODEL_FACTORY',
 'MODEL_STRUCT_TYPE',
 'MODEL_TRIVIAL_NAME',
 'MODEL_CLASS',
 'MODEL_COUNTRY',
 'MODEL_PRICE_TXA',
 'MODEL_PART_COUNT',
 'GUID']

In [13]:
a_model_loss_refer=pd.read_csv(path3)

In [16]:
cs_cb=pd.read_csv(path4)

D:\Program\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,4,6,8,9,10,11,12,13,14,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
cs_cb.dropna(how='all',axis=1,inplace=True)

In [18]:
cs_cb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207337 entries, 0 to 207336
Data columns (total 22 columns):
CB_ID             207337 non-null object
STD_MODEL_INFO    207337 non-null object
GGID              174211 non-null object
MANUFACTURER      201852 non-null object
IMPORTS           210 non-null object
BRAND_P           202015 non-null object
KEYNUMBER         9962 non-null object
CHINESE_CS        38901 non-null object
YEAR              37800 non-null object
DISPLACEMENT      31982 non-null object
HORSE_POWER       322 non-null object
ENGINE_ARRANGE    611 non-null object
ENERGY_TYPE       1442 non-null object
DOORS             71 non-null object
CAR_SIZE          839 non-null object
CAR_TYPE          207290 non-null object
SEATS             32465 non-null object
GB1               11640 non-null object
GEARBOX           41522 non-null object
OTR_INFO          78323 non-null object
CP_SCO_DF         207337 non-null int64
TYPE              33726 non-null object
dtypes: int64(1), object(21)
memory usage: 34.8+ MB

In [19]:
col4=cs_cb.columns
cols.extend(col4)
cols=list(set(cols))
print(len(cols))
cols

60

['MODEL_UPDATE_DATE',
 'GB1',
 'MODEL_TYPE',
 'MODEL_PINYIN_CODE',
 'GGID',
 'ENERGY_TYPE',
 'VERSION',
 'CAR_SIZE',
 'SEATS',
 'PART_UPDATE_TIME',
 'MODEL_STANDARD_NAME',
 'MODEL_CATE_ID',
 'MODEL_VOUCH_TONNAGE',
 'DISPLACEMENT',
 'MODEL_IS_PIC',
 'GUID',
 'MODEL_BRAND',
 'MODEL_IS_LOSS',
 'MODEL_VOUCH_SEAT',
 'MODEL_REMARK',
 'MODEL_IS_DELETE',
 'BRAND_P',
 'MODEL_YEAR',
 'CHINESE_CS',
 'MODEL_CATE_NAME',
 'CP_SCO_DF',
 'TRAN_EDITION',
 'MODEL_SUB_CLASS',
 'MODEL_PRICE',
 'IMPORTS',
 'MODEL_VALUATION_TYPE',
 'MODEL_CREATE_DATE',
 'MODEL_ID',
 'MODEL_VOLUME',
 'MODEL_CURB_TONNAGE',
 'HORSE_POWER',
 'MODEL_SPECIAL_TYPE',
 'ENGINE_ARRANGE',
 'TYPE',
 'MODEL_IS_INSURER',
 'MODEL_SUB_SPECIAL_TYPE',
 'STD_MODEL_INFO',
 'MODEL_TOTAL_TONNAGE',
 'OTR_INFO',
 'CAR_TYPE',
 'GEARBOX',
 'DOORS',
 'MODEL_PRICE_ANA',
 'MODEL_FACTORY',
 'KEYNUMBER',
 'CB_ID',
 'MODEL_STRUCT_TYPE',
 'MODEL_TRIVIAL_NAME',
 'MODEL_CLASS',
 'MODEL_COUNTRY',
 'MODEL_PRICE_TXA',
 'MANUFACTURER',
 'YEAR',
 'MODEL_PART_COUNT',
 'MODEL_IS_ENABLE']

In [20]:
cs_jy=pd.read_csv(path5)

D:\Program\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (3,8,9,10,11,12,13,14,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
cs_jy.dropna(how='all',axis=1,inplace=True)

In [22]:
cs_jy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248576 entries, 0 to 248575
Data columns (total 21 columns):
JY_ID             248576 non-null object
STD_MODEL_INFO    248576 non-null object
GGID              210510 non-null object
MANUFACTURER      19135 non-null object
IMPORTS           224649 non-null object
BRAND_P           241279 non-null object
KEYNUMBER         6452 non-null object
CHINESE_CS        246876 non-null object
YEAR              29727 non-null object
DISPLACEMENT      3346 non-null object
HORSE_POWER       491 non-null object
ENGINE_ARRANGE    610 non-null object
ENERGY_TYPE       1036 non-null object
DOORS             65 non-null object
CAR_SIZE          810 non-null object
CAR_TYPE          248526 non-null object
SEATS             172 non-null object
GB1               54 non-null object
GEARBOX           37560 non-null object
OTR_INFO          65519 non-null object
CP_SCO_DF         248576 non-null int64
dtypes: int64(1), object(20)
memory usage: 39.8+ MB

In [33]:
cs_jy.head()

,JY_ID,STD_MODEL_INFO,GGID,MANUFACTURER,IMPORTS,BRAND_P,KEYNUMBER,CHINESE_CS,YEAR,DISPLACEMENT,...,ENGINE_ARRANGE,ENERGY_TYPE,DOORS,CAR_SIZE,CAR_TYPE,SEATS,GB1,GEARBOX,OTR_INFO,CP_SCO_DF
0,JBAAII0015,"跑车,手自一体 硬顶 400 SPORT 机械增压 四驱 捷豹JAGUAR F TYPE C...",NaN,捷豹,进口,捷豹,NaN,捷豹ftype,2017款,3.0t,...,NaN,NaN,NaN,跑车,跑车,NaN,NaN,amt,8 coupe t f 四驱 机械增压 sport 400 硬顶,283
1,DZAASI0040,"轿车,双离合 宜乐版 涡轮增压 甲壳虫BEETLE 180TSI轿车 大众 进口 甲壳虫BE...",NaN,大众进口,NaN,NaN,180tsi,甲壳虫,2017款,NaN,...,NaN,NaN,NaN,NaN,轿车,NaN,NaN,dct,8 le et b 涡轮增压 宜乐,206
2,LKAALI0012,"越野车,S CVT 锋行版 两驱 雷克萨斯LEXUS NX200越野车 雷克萨斯 进口 雷克...",NaN,雷克萨斯,进口,雷克萨斯,200,雷克萨斯nx,2017款,NaN,...,NaN,NaN,NaN,NaN,越野车,NaN,NaN,cvt,8 系 200 两驱 锋行 s,264
3,DZAASI0045,"轿车,双离合 至乐版 涡轮增压 甲壳虫BEETLE 280TSI轿车 大众 进口 甲壳虫BE...",NaN,大众进口,NaN,NaN,280tsi,甲壳虫,2017款,NaN,...,NaN,NaN,NaN,NaN,轿车,NaN,NaN,dct,8 le et b 涡轮增压 至乐,206
4,GQBAXD0008,"轿车,手自一体 精英版 国Ⅴ 传祺GAC7150H1A5轿车 广汽传祺 国产 传祺GS3 2...",GAC7150H1A5,广汽,NaN,传祺,NaN,传祺gs3,2017款,NaN,...,NaN,NaN,NaN,NaN,轿车,NaN,NaN,amt,8 国产 精英,300

In [34]:
cs_jy['GB1'].value_counts()

5挡    41
6挡     7
4挡     4
2挡     2
Name: GB1, dtype: int64

In [23]:
col5=cs_jy.columns
cols.extend(col5)
cols=list(set(cols))
print(len(cols))
cols

61

['MODEL_UPDATE_DATE',
 'GB1',
 'MODEL_TYPE',
 'MODEL_PINYIN_CODE',
 'GGID',
 'ENERGY_TYPE',
 'VERSION',
 'CAR_SIZE',
 'SEATS',
 'PART_UPDATE_TIME',
 'MODEL_STANDARD_NAME',
 'MODEL_CATE_ID',
 'MODEL_VOUCH_TONNAGE',
 'DISPLACEMENT',
 'JY_ID',
 'MODEL_IS_PIC',
 'MODEL_BRAND',
 'MODEL_IS_LOSS',
 'MODEL_VOUCH_SEAT',
 'MODEL_REMARK',
 'MODEL_IS_DELETE',
 'BRAND_P',
 'MODEL_YEAR',
 'CHINESE_CS',
 'MODEL_CATE_NAME',
 'CP_SCO_DF',
 'TRAN_EDITION',
 'MODEL_SUB_CLASS',
 'MODEL_PRICE',
 'IMPORTS',
 'MODEL_IS_ENABLE',
 'MODEL_VALUATION_TYPE',
 'MODEL_CREATE_DATE',
 'MODEL_ID',
 'MODEL_VOLUME',
 'MODEL_CURB_TONNAGE',
 'HORSE_POWER',
 'MODEL_SPECIAL_TYPE',
 'ENGINE_ARRANGE',
 'TYPE',
 'MODEL_IS_INSURER',
 'MODEL_SUB_SPECIAL_TYPE',
 'STD_MODEL_INFO',
 'MODEL_TOTAL_TONNAGE',
 'OTR_INFO',
 'CAR_TYPE',
 'GEARBOX',
 'DOORS',
 'MODEL_PRICE_ANA',
 'MODEL_FACTORY',
 'KEYNUMBER',
 'CB_ID',
 'MODEL_STRUCT_TYPE',
 'MODEL_TRIVIAL_NAME',
 'MODEL_CLASS',
 'MODEL_COUNTRY',
 'MODEL_PRICE_TXA',
 'MANUFACTURER',
 'YEAR',
 'MODEL_PART_COUNT',
 'GUID']

In [24]:
cs_xs=pd.read_csv(path6)

In [25]:
cs_xs.dropna(how='all',axis=1,inplace=True)

In [26]:
cs_xs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31821 entries, 0 to 31820
Data columns (total 21 columns):
STD_MODEL_ID_XS    31821 non-null object
STD_MODEL_INFO     31821 non-null object
GGID               734 non-null object
MANUFACTURER       31805 non-null object
IMPORTS            4031 non-null object
BRAND_P            31667 non-null object
KEYNUMBER          4694 non-null object
CHINESE_CS         31800 non-null object
YEAR               31661 non-null object
DISPLACEMENT       31068 non-null object
HORSE_POWER        29853 non-null object
ENGINE_ARRANGE     29839 non-null object
ENERGY_TYPE        30382 non-null object
DOORS              25033 non-null object
CAR_SIZE           30292 non-null object
CAR_TYPE           17488 non-null object
SEATS              26845 non-null object
GB1                28908 non-null object
GEARBOX            31247 non-null object
OTR_INFO           31426 non-null object
CP_SCO_DF          31821 non-null int64
dtypes: int64(1), object(20)
memory usage: 5.1+ MB

In [27]:
col6=cs_xs.columns
cols.extend(col6)
cols=list(set(cols))
print(len(cols))
cols

62

['MODEL_UPDATE_DATE',
 'GB1',
 'MODEL_TYPE',
 'MODEL_PINYIN_CODE',
 'GGID',
 'ENERGY_TYPE',
 'VERSION',
 'CAR_SIZE',
 'SEATS',
 'PART_UPDATE_TIME',
 'MODEL_STANDARD_NAME',
 'MODEL_CATE_ID',
 'MODEL_VOUCH_TONNAGE',
 'DISPLACEMENT',
 'JY_ID',
 'MODEL_IS_PIC',
 'GUID',
 'MODEL_BRAND',
 'MODEL_IS_LOSS',
 'MODEL_VOUCH_SEAT',
 'MODEL_REMARK',
 'MODEL_IS_DELETE',
 'BRAND_P',
 'MODEL_YEAR',
 'CHINESE_CS',
 'MODEL_CATE_NAME',
 'CP_SCO_DF',
 'TRAN_EDITION',
 'MODEL_SUB_CLASS',
 'MODEL_PRICE',
 'IMPORTS',
 'MODEL_VALUATION_TYPE',
 'MODEL_CREATE_DATE',
 'MODEL_ID',
 'MODEL_VOLUME',
 'MODEL_CURB_TONNAGE',
 'HORSE_POWER',
 'MODEL_SPECIAL_TYPE',
 'ENGINE_ARRANGE',
 'TYPE',
 'MODEL_IS_INSURER',
 'STD_MODEL_ID_XS',
 'MODEL_SUB_SPECIAL_TYPE',
 'STD_MODEL_INFO',
 'MODEL_TOTAL_TONNAGE',
 'OTR_INFO',
 'CAR_TYPE',
 'GEARBOX',
 'DOORS',
 'MODEL_PRICE_ANA',
 'MODEL_FACTORY',
 'KEYNUMBER',
 'CB_ID',
 'MODEL_STRUCT_TYPE',
 'MODEL_TRIVIAL_NAME',
 'MODEL_CLASS',
 'MODEL_COUNTRY',
 'MODEL_PRICE_TXA',
 'MANUFACTURER',
 'YEAR',
 'MODEL_PART_COUNT',
 'MODEL_IS_ENABLE']

In [29]:
cs_zs=pd.read_csv(path7)

In [30]:
cs_zs.dropna(how='all',axis=1,inplace=True)

In [31]:
cs_zs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25523 entries, 0 to 25522
Data columns (total 19 columns):
ZS_ID             25523 non-null object
STD_MODEL_INFO    25523 non-null object
MANUFACTURER      21365 non-null object
IMPORTS           2230 non-null object
BRAND_P           11223 non-null object
KEYNUMBER         5343 non-null object
CHINESE_CS        25259 non-null object
YEAR              25523 non-null object
DISPLACEMENT      25142 non-null object
HORSE_POWER       399 non-null object
ENGINE_ARRANGE    604 non-null object
ENERGY_TYPE       1254 non-null object
DOORS             120 non-null object
CAR_SIZE          21 non-null object
CAR_TYPE          1497 non-null object
SEATS             1660 non-null object
GEARBOX           25492 non-null object
OTR_INFO          25369 non-null object
CP_SCO_DF         25523 non-null int64
dtypes: int64(1), object(18)
memory usage: 3.7+ MB

In [32]:
col7=cs_xs.columns
cols.extend(col7)
cols=list(set(cols))
print(len(cols))
cols

62

['MODEL_UPDATE_DATE',
 'GB1',
 'MODEL_TYPE',
 'MODEL_PINYIN_CODE',
 'GGID',
 'ENERGY_TYPE',
 'VERSION',
 'CAR_SIZE',
 'SEATS',
 'PART_UPDATE_TIME',
 'MODEL_STANDARD_NAME',
 'MODEL_CATE_ID',
 'MODEL_VOUCH_TONNAGE',
 'DISPLACEMENT',
 'JY_ID',
 'MODEL_IS_PIC',
 'MODEL_BRAND',
 'MODEL_IS_LOSS',
 'MODEL_VOUCH_SEAT',
 'MODEL_REMARK',
 'MODEL_IS_DELETE',
 'BRAND_P',
 'MODEL_YEAR',
 'CHINESE_CS',
 'MODEL_CATE_NAME',
 'CP_SCO_DF',
 'TRAN_EDITION',
 'MODEL_SUB_CLASS',
 'MODEL_PRICE',
 'IMPORTS',
 'MODEL_IS_ENABLE',
 'MODEL_VALUATION_TYPE',
 'MODEL_CREATE_DATE',
 'MODEL_ID',
 'MODEL_VOLUME',
 'MODEL_CURB_TONNAGE',
 'HORSE_POWER',
 'MODEL_SPECIAL_TYPE',
 'ENGINE_ARRANGE',
 'TYPE',
 'MODEL_IS_INSURER',
 'STD_MODEL_ID_XS',
 'MODEL_SUB_SPECIAL_TYPE',
 'STD_MODEL_INFO',
 'MODEL_TOTAL_TONNAGE',
 'OTR_INFO',
 'CAR_TYPE',
 'GEARBOX',
 'DOORS',
 'MODEL_PRICE_ANA',
 'MODEL_FACTORY',
 'KEYNUMBER',
 'CB_ID',
 'MODEL_STRUCT_TYPE',
 'MODEL_TRIVIAL_NAME',
 'MODEL_CLASS',
 'MODEL_COUNTRY',
 'MODEL_PRICE_TXA',
 'MANUFACTURER',
 'YEAR',
 'MODEL_PART_COUNT',
 'GUID']